[submodule "packages/mx-the-bible"]
	path = packages/mx-the-bible
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-manuscript
[submodule "packages/mx-appendices"]
	path = packages/mx-appendices
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-appendices
[submodule "packages/mx-outputs"]
	path = packages/mx-outputs
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-outputs
[submodule "packages/mx-handbook"]
	path = packages/mx-handbook
	url = https://github.com/Digital-Domain-Technologies-Ltd/MX-The-Handbook
