[submodule "packages/mx-the-bible"]
	path = packages/mx-the-bible
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-manuscript
[submodule "packages/mx-appendices"]
	path = packages/mx-appendices
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-appendices
[submodule "packages/mx-outputs"]
	path = packages/mx-outputs
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-outputs
[submodule "packages/mx-handbook"]
	path = packages/mx-handbook
	url = https://github.com/Digital-Domain-Technologies-Ltd/MX-The-Handbook
[submodule "packages/mx-gathering"]
	path = packages/mx-gathering
	url = https://github.com/Digital-Domain-Technologies-Ltd/MX-Gathering
[submodule "packages/mx-code-examples"]
	path = packages/mx-code-examples
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-code-examples
[submodule "packages/external/ucp"]
	path = packages/external/ucp
	url = https://github.com/Universal-Commerce-Protocol/ucp.git
[submodule "packages/business/mx-business"]
	path = packages/business/mx-business
	url = https://github.com/Digital-Domain-Technologies-Ltd/MX-business-planning.git
[submodule "packages/notes"]
	path = packages/notes
	url = https://github.com/ddttom/Notes.git
