[submodule "packages/bible"]
	path = packages/bible
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-bible.git
[submodule "packages/dont-make-ai-think"]
	path = packages/dont-make-ai-think
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-slim.git
[submodule "packages/shared-appendices"]
	path = packages/shared-appendices
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-appendices.git
[submodule "packages/shared-code-examples"]
	path = packages/shared-code-examples
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-code-examples.git
[submodule "outputs"]
	path = outputs
	url = https://github.com/Digital-Domain-Technologies-Ltd/invisible-users-outputs.git
[submodule "packages/ucp"]
	path = packages/ucp
	url = https://github.com/Universal-Commerce-Protocol/ucp
