name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: false

    - name: Initialize public submodules
      run: |
        git submodule update --init --depth 1 packages/bible
        git submodule update --init --depth 1 packages/shared-appendices
        git submodule update --init --depth 1 packages/shared-code-examples

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint:markdown
    - run: npm run audit:install
    - run: npm run audit:test
